<h1>Edit Bathroom</h1>
<%= form_for @bathroom do |f| %>

  <%= f.label :location_name %>
  <%= f.text_field :location_name %>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %>

  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Edit Bathroom" %>

<% end %>
