<div>
  <%= form_tag(bathrooms_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Bathrooms by Zip Code" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>

<h1 class="title small-4 small-offset-4">
  Bathrooms BA-BAY!
</h1>

<% @bathrooms.each do |bathroom| %>
  <table class="bathroom-list small-4 small-offset-4">
    <tr>
      <th>Rating</th>
      <th>Location</th>
      <th>Address</th>
    </tr>
    <tr>
      <td><%= bathroom.avg_rating %></td>
      <td><%= link_to bathroom.location_name, bathroom_path(bathroom) %></td>
      <td><%= bathroom.street_address %></td>
    </tr>
  </table>
<%end%>

<div class="button small-4 small-offset-4 columns"><%= link_to "Create New Bathroom", new_bathroom_path %></div>
<%= paginate @bathrooms %>
