<h1>
  Bathroom at: <%= @bathroom.location_name %>
</h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Street Address</th>
    <th>Zip Code</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @bathroom.rating_average %></td>
    <td><%= @bathroom.street_address %></td>
    <td><%= @bathroom.zip_code %></td>
    <td><%= @bathroom.description %></td>
  </tr>
</table>

<%= link_to "Back to All Bathrooms", bathrooms_path %>

<% if @bathroom.user == current_user %>
  <%= button_to "Delete this Bathroom", bathroom_path(@bathroom), method: :delete %>
  <%= link_to "Edit this Bathroom", edit_bathroom_path(@bathroom), class: 'button' %>
<% end %>

<h2>Reviews</h2>

<div>
  <%= form_for [@bathroom, @review] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.label :rating %>
    <%= f.text_field :rating %>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<div>
  <% @reviews.each do |review| %>
  <div><%= button_to '+1', upvote_review_votes_path(review), method: :post %>
    <%= @vote_total[review.id] %>
    <%= button_to '-1', downvote_review_votes_path(review), method: :post %></div>
    Review: <%= review.body %>
    Bathroom Rating: <%= review.rating %>
    Time of Review: <%= review.created_at %>
  <% end %>
</div>
