<!DOCTYPE html>
<html>
<head>
  <title>Writing On The Stall</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <%= link_to image_tag("Toilet-Sign-White.png"), bathrooms_path %>
        <h1><a href="/">Writing On The Stall</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <div class='profile-photo'>
            <div class='user-email'>
              <%= current_user.email %>
            </div>
            <%- if current_user.profile_photo.file == nil -%>
              <li><%= link_to image_tag("default.png"), edit_user_registration_path, id: "edit-profile" %></li>
            <%- else -%>
              <li><%= link_to image_tag(current_user.profile_photo), edit_user_registration_path, id: "edit-profile" %></li>
            <%- end -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
          </div>
      </ul>
    </section>
  </nav>

  <% flash.keys.each do |type| %>
    <% flash[type].split(":( ").each do |f| %>
      <div data-alert class="flash <%= type %> alert-box radius">
          <%= f %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  <% end %>

  <%= yield %>

<div class="footer">
    <%= image_tag("Facebook-50.png") %>
    <ul>
      <li><strong id="created">Created By</strong></li>
      <%= link_to "Brian Stern", "https://github.com/bsterno" %>
      <%= link_to "Elise Fitzgerald", "https://github.com/EliseFitz15" %>
      <%= link_to "Ian Noble", "https://github.com/irnoble" %>
      <%= link_to "Joseph Tessel", "https://github.com/JosephTessel" %>
      <%= link_to "Kelsey Hale", "https://github.com/KelseyHale"%>
    </ul>
</div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
